@import url(//fonts.googleapis.com/css?family=Work+Sans);

body {
  background: #d3ebfa;
}

* {
  font-family: 'Work Sans', sans-serif;
}

a {
  color: #000000;
}

.gallery__img {
  width: 100%;
}

#defaultCanvas0 {
  width: 100%;
}

#canvasp5-1 {
  width: 100%;
}

.p5Canvas {
  width: 100%;
}

.section--top {
  height: 100vh; /* viewport height */
}

.section--about {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 40px;
}

.about--text {
  padding-bottom: 40px;
}

.border {
  border-top: 1px solid #000000;
}

.img--arriba {
  width: 100vw;
  position: absolute;
  -webkit-mask: linear-gradient(#000000, transparent);
}

.img--abajo {
  bottom: 0;
  width: 100vw;
  position: absolute;
  -webkit-mask: linear-gradient(transparent, #000000);
}

.img--siglas {
  bottom: 0;
}

.gallery__item {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contact__inner {
  display: flex;
}

.contact__column {
  width: 50%;
}

.section--contact {
  padding-left: 20px;
  padding-right: 20px;
}
